<div class="card mb-4">
    <div class="row">
      <div class="col-md-6">{{comment}}</div>
      <div class="col-md-6 ms-auto">Posted by {{user_name_comment}} on {{format_date date_posted}}</div>
    </div>
</div>