{{#each post.comments}}
    <div class="card mb-4">
    <div class="row-md-5">
        <div class="col-md-6">{{post.title}}</div>
        <div class="col-md-6 ms-auto">
        Posted by {{post.user.user_name}} on {{format_date post.date_posted}}
        </div>
        <p>{{post.content}}</p>
    </div>
{{/each}}
        



  
 

